{% extends "./base.html" %}

{% block title %}
<title>
    {{ message.body | truncate(length=30) }}
</title>
{% endblock %}

{% block content %}
    <p class="date">Published {{ message.published }} by {{ message.author }}</p>
    {{message.body}}
    {% for image in images %}
        <p>
            <img src="/blog/file/{{ image.media_url }}" alt="Not found" width="auto" height="300" >
        </p>
    {% endfor %}
    {% for video in videos %}
        <p>
            <video width="400" height="300" controls="controls">
               <source src="/blog/file/{{ video.media_url }}" type='video/ogg; codecs="theora, vorbis"'>
               <source src="/blog/file/{{ video.media_url }}" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
               <source src="/blog/file/{{ video.media_url }}" type='video/webm; codecs="vp8, vorbis"'>
                Тег video не поддерживается вашим браузером.
          </video>
        </p>
    {% endfor %}
{% endblock %}