{% extends "./base.html" %}

{% block title %}
<title>
    Sing in
</title>
{% endblock %}

{% block content %}
{% if request.method == "POST" %}
    {% if success %}
        <h2>You are successfully signed up!</h2>
    {% else %}
        <h2>That username is already taken!</h2>
    {% endif %}
{% else %}
    <form action="{{ request.path }}" method="post">
        <h2>Username:</h2>
        <input type="text" name="username" size="50" required><br>
        <h2>Password:</h2>
        <input type="password" name="password" size="50" required><br>
        <input type="submit" value="Sing Up!">
    </form>
{% endif %}
{% endblock %}